<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit page</title>
    <link rel="stylesheet" href="../public/css/style.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<body>
    
<div class="edit_info">

    <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form action="/edit/{{ids._id}}" method="post">

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="col-12">

                  <select class="select form-control-lg" name="categoryName">
                    <option >Choose option</option>
                    <option value="TV" >TV</option>
                    <option value="Mobile"> Mobile </option>
                   
                  </select>
                  <label class="form-label select-label">Categoty name </label>

                </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="productName" name="productName" />
                    <label class="form-label" for="lastName">Product Name</label>
                  </div>

                </div>
              </div>

              <div class="mt-4 pt-2">
                
                <button type="submit" class="btn btn-primary btn-lg">submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</div>

</body>
</html>