<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
   <div class="product">
       
         <div class="info_def">
   <h1>Name : {{ data.productName}}</h1>
    <p>Id : {{data.product_id}}</p>
    <a href="/card" class="card_link">Update and Delete Here</a>
       </div>
   </div> 
</body>
</html>